
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin: 0;
}
form {
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #555;
}
.checkbox-group {
    margin-top: 5px;
  }
.checkbox-group label {
    display: block;
    margin-bottom: 5px;
  }

/* Style the container for the upload box */
.image-upload-box {
    text-align: center;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Style the label with the SVG icon and text */
  .upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .upload-label svg {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    fill: #007bff; /* Change the color to your desired color */
  }

  /* Style the input element (hidden) */
  #cv_image {
    display: none;
    
  }
  /* Style the image preview container */
  .image-preview-container {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
  }
  
  /* Style the image preview */
  #image_preview {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px;
    
  }
 
  
