/* Los elementos con id se llama con # */
body{
  background-color: blanchedalmond; 
  text-align: center;
}
#title {
  font-family: 'cursive', sans-serif;
      text-align: center;
      
      text-shadow: 3px 3px 3px #0fac2c;
      font-size: 50px;
      
      font-weight: bold;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 50px;
  
}
.color{
  /* border: 3px  black dashed; */
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 5px;	
}

#fondo {
  font-family: 'cursive', sans-serif;
  text-align: center;
  
  text-shadow: 3px 3px 3px #0fac2c;
  font-size: 50px;
  
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 50px;
  
  
}
#algoritmo{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px;
      font-weight: bold;
}
table, th, td {
   
  border: 2px solid black;
  border-collapse: collapse;
  margin: auto;
}
th, td {
  padding: 15px;
  text-align: center;
}
#TableAlg{
  margin: auto; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman'; 
  background-color: rgb(173, 133, 72); 

}
th{
  font-size: 24px
}


a:link{
  color: rgb(0, 0, 0);
}
a:visited{
  color: rgb(196, 11, 11);
}
a:hover{
  color: rgb(0, 0, 255);
}
a:active{
  color: rgb(30, 255, 0);
}
#html{
  color:rgb(131, 5, 5);  margin: auto;
border: 5px solid rgb(65, 3, 3);
}
#css{
  color:rgb(12, 67, 62);  margin: auto;
border: 5px solid rgb(8, 107, 135);
}
#js{
  color: rgb(225, 178, 9); margin: auto;
border: 5px solid rgb(147, 162, 8);
}
p{
  font-family: 'cursive', sans-serif; font-size: 20px;
}
#MLTable{
  background-color: aquamarine; 
  font-size: 24px;
}
#OSTable{
  background-color: rgb(127, 72, 173);
   font-size: 24px;
}
#OpenSourceTable{
  background-color: rgb(165, 68, 15); 
  font-size: 24px;
}

